@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Cantarell);

body {
  background-image: url('Background.png');
}

.header{
  margin-bottom: 10px;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
}

h2 {
  font-family: 'Josefin Sans', sans-serif;
}

.main {
  width: 100vw;
  margin-bottom: 10px;
}
