@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Cantarell);
@import url(https://fonts.googleapis.com/css?family=Lora:700);
body {
    background-image: url('http://www.nasa.gov/images/content/602861main_pia14293-amended-full_full.jpg');
}
a{
  font-size: 8vw;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

h1{
  font-size: 6vw;
  color: white;
  font-family: 'Lora', serif;
}
